
body{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
}
.navigation{ 
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 3px orange;
}
.menu{
	display: flex;
	list-style: none;
}
.menu .item__menu{
	margin-left: 1em;
	font-family: sans-serif;
	font-weight: 700;
	padding: .5em;
	font-size: .9em;
}
.menu .item__menu a {
	text-decoration: none;
	color: white;
}
.menu .item__menu:hover{
	transition:   .7s;
 
 	color:white;
}

.menu__max{
	position: relative;
}
.mas{
	 background-color: orange;
	 position: absolute;
	 transform-origin: top; 
	 transform: scaleY(0);
	border-radius: 5px;
	 transition:.3s;
}
.mas .item__menu{
	margin-right: 1em;
	margin-left: -1em;
	padding:.8em;
}

 
 .menu__max:hover  .mas{
 		transform-origin: top center;
 		transform: scaleY(1);
		transition:.7s;
}

 